{% extends 'blog/base.html' %}

{% block title %}{{ article.title }} - Мой блог{% endblock %}

{% block content %}
    <article>
        <h2>{{ article.title }}</h2>
        <p class="article-meta">
            Автор: {{ article.author.username }} | 
            Опубликовано: {{ article.published_date|date:"d.m.Y H:i" }} |
            Обновлено: {{ article.updated_at|date:"d.m.Y H:i" }}
        </p>
        
        <div style="margin: 20px 0; line-height: 1.8;">
            {{ article.content|linebreaks }}
        </div>
        
        <div class="tags">
            Теги: 
            {% for tag in article.tags.all %}
                <a href="{% url 'blog:tag_articles' tag.slug %}" class="tag">#{{ tag.name }}</a>
            {% empty %}
                <span style="color: #7f8c8d;">без тегов</span>
            {% endfor %}
        </div>
    </article>
    
    {% if related_articles %}
        <div class="related-articles">
            <h3>Похожие статьи</h3>
            {% for related in related_articles %}
                <div class="related-article">
                    <h4><a href="{% url 'blog:article_detail' related.id %}">{{ related.title }}</a></h4>
                    <p class="article-meta">
                        {{ related.author.username }} | {{ related.published_date|date:"d.m.Y" }}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}