{% extends 'blog/base.html' %}

{% block title %}Статистика авторов - Мой блог{% endblock %}

{% block content %}
    <h1>Статистика авторов</h1>
    
    <table class="stats-table">
        <thead>
            <tr>
                <th>Автор</th>
                <th>Количество статей</th>
                <th>Средняя длина статьи</th>
                <th>Всего тегов использовано</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.username }}</td>
                    <td>{{ author.total_articles }}</td>
                    <td>{{ author.avg_content_length|floatformat:0 }} символов</td>
                    <td>{{ author.total_tags }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" style="text-align: center; color: #7f8c8d;">
                        Нет данных о авторах
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}